<%= simple_form_for [@album, @photo, comment], wrapper: :minimalistic, html: {id: 'new-comment'} do |f| %>
  <%= f.input :content, placeholder: "Drop a comment...", input_html: {rows: 3} %>

  <section class="form-actions">
    <%= f.button :button, "Cancel", 'go-back': true, class: 'btn-sm btn-default' if comment.persisted? %>
    <%= f.button :submit, class: 'btn-sm btn-create-comment' %>
  </section>
<% end %>