<%= simple_form_for [@album, @photo, comment], validate: true do |f| %>
  <section class="form-fields">
    <%= field_set do %>
      <%= f.input :content %>
    <% end %>
  </section>

  <hr/>
  <section class="form-actions">
    <%= f.button :submit %>
  </section>
<% end %>
