$albums_header_bg_color: $base_color;
$albums_bg_color: lighten($content_bg_color, 5%);
$albums_border_color: lighten($base_color, 1%);

table#albums {
  width: $body-min-width - 20px;
  margin: 27px 0;
  background-color: $albums_bg_color;
  border: 5px solid $albums_border_color;
  border-radius: 6px;

  td, th {
    padding: 3px 7px 2px 4px;
    white-space: nowrap;
  }

  thead th {
    padding: 7px;
    color: invert($albums_header_bg_color);
    background-color: $albums_header_bg_color;
    text-align: left;

    a { text-decoration: none; }
    .asc:after { content: ' ▲' }
    .desc:after { content: ' ▼' }
  }

  tbody tr {
    height: 60px;

    &:hover {
      cursor: pointer;
      background-color: lighten($albums_bg_color, 3%);
    }

    td.album-name {
      width: 100%;

      a {
        color: $body_text_color;
        font-size: 126%;
        font-weight: bold;
        text-decoration: none;
      }
    }
  }

}
