
table#albums {
  width: $body-min-width - 20px;
  margin: 32px 0;
  background-color: $albums-bg;
  border: 5px solid $albums-border-color;
  border-radius: 6px;

  td, th {
    padding: 3px 7px 2px 4px;
    white-space: nowrap;
  }

  thead th {
    padding: 7px;
    color: invert($albums-header-bg);
    background-color: $albums-header-bg;
    text-align: left;

    a { text-decoration: none; }
    .asc:after { content: ' ▲' }
    .desc:after { content: ' ▼' }
  }

  tbody tr {
    height: 60px;

    &:hover {
      cursor: pointer;
      background-color: lighten($albums-bg, 3%);
    }

    td.album-name {
      width: 100%;

      a {
        color: $body_text_color;
        font-size: 126%;
        font-weight: bold;
        text-decoration: none;
      }
    }
  }
}

#album-title {
  margin: 30px 0 0 0;
}

#album-content {
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
  margin: 13px 15px 30px 15px;
  box-sizing: border-box;
  background-color: #2e2f30;
  border: 1px dashed #444;

  .thumbnail-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: $photo-image-thumbnail-width;
    height: $photo-image-thumbnail-height;
    margin: 5px;
    background-color: #000;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #333;
    box-shadow: 1px 1px 8px #222;

    a {
      flex: 1;
      width: 170px;
      background: none;
    }
  }
}
