@import 'mixins/flexbox';

body > header {
  display: flex;
  height: $header-height;
  @include gradient-vertical(darken($header-bg-color, 5%), $header-bg-color);
  border-bottom: solid 1px darken($header-bg-color, 6%);
  font-size: $header-text-size;
  font-weight: bold;

  & > * { @include center-items-vertically; }

  #album-menu {
    padding: 0 10px;
  }

  #context-menu {
    margin-left: 10px;
  }

  #pages-menu {
    ul {
      display: flex;
      list-style: none;

      li a {
        padding: 0 8px;
        color: $body-text-color;
        text-decoration: none;

        &:hover { color: saturate(lighten($body-text-color, 20%), 10%); }
      }
    }
  }

  #user-menu {
    padding: 0 10px 0 30px;

    .user-controls {
      height: $header-control-group-height;
      overflow: hidden;
      border: 1px solid $header-control-group-border-color;
      border-radius: 5px;
      color: black;
      background-color: $header-control-group-bg-color;
      @include center-items-vertically;
    }

    .user-name { padding: 0 7px 0 10px; }
    .btn { border-radius: 0; }
  }
}

body > main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $content_bg_color;
  border-style: solid;
  border-width: 0 0 7px 0;
  border-color: lighten($content_bg_color, 3%);
  border-radius: 6px;
}

body > footer {
  height: $footer-height;
  padding: 10px;
  font-size: 84%;
  text-align: center;
}
