
.spacer { flex: 1 }

[hidden ~= hidden], [hidden ~= true] { display: none; }

hr {
  width: 90%;
  margin: 20px 5% 10px 5%;
  border: 1px solid $base-color;
}

.turbolinks-progress-bar {
  position: absolute;
  top: $header-height;
  height: 2px;
  background-color: fade_out(lighten($header-logo-shadow-color, 15%), 0.4);
}
