
#notifications {
  display: flex;
  justify-content: center;
  position: absolute;
  top: $header-height;
  width: 100%;

  &.sticky {
    position: fixed;
    top: 0;
  }

  &.shade { background-color: fade-out(#000, 0.6); }

  #notice, #alert {
    height: 15px;
    margin: 5px;
    padding: 4px 10px;
    color: $notifications-text-color;
    font-weight: bold;
    border-radius: 4px;

    .glyphicon { margin-right: 8px; }

    .close-notification {
      margin: 0;
      padding: 0 0 0 12px;
      cursor: pointer;

      &:hover { color: $notifications-text-color !important }
    }

    &#notice {
      background-color: $notice-bg;
      .close-notification { color: darken($notice-bg, 15%); }
    }

    &#alert {
      background-color: $alert-bg;
      .close-notification { color: darken($alert-bg, 15%); }
    }
  }
}
