
nav.pagination {
  ul {
    display: inline-flex;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      &:first-child > a { border-radius: 5px 0 0 5px; }
      &:last-child > a {
        border-radius: 0 5px 5px 0;
        border-right-width: $pagination-border-width;
      }

      a {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        min-width: 25px;
        height: 26px;
        padding: 3px;
        color: darken($body-text-color, 15%);
        text-decoration: none;
        background-color: lighten($body-bg-color, 7%);
        border: $pagination-border-width solid lighten($body-bg-color, 10%);
        border-right-width: 0;
      }

      &.disabled-page > a {
        color: darken($body-text-color, 45%);
        background-color: lighten($body-bg-color, 3%);
        pointer-events: none;
        cursor: default;
      }

      &:not(.disabled-page) > a {
        &:active, &:hover {
          color: lighten($body-text-color, 10%);
          background-color: darken(desaturate($pagination-highlight-bg-color, 100%), 5%);
        }
      }

      &.current-page > a {
        color: lighten($body-text-color, 10%);
        background-color: $pagination-highlight-bg-color;
      }

      &.prev-page > a {
        padding-left: 16px;
        padding-right: 12px;
      }

      &.next-page > a {
        padding-left: 12px;
        padding-right: 16px;
      }

    }
  }
}

nav.pagination-top { margin: 15px 0 0 0 }

nav.pagination-bottom { margin: 0 0 10px 0 }

.page-entries-info {
  color: darken($body-text-color, 25%)
}
