@import 'sass/utils';

$spinner-size: 24px;
$spinner-scale: strip-unit($spinner-size - 4px) / 168;
$spinner-color: $body-text-color;

.spinner-container {
  margin-right: $spinner-size;
  margin-bottom: $spinner-size;
  overflow: visible;
}

.spinner {
  position: relative;
  background: none;
  transform: scale($spinner-scale);

  & > div {
    width: 24px;
    height: 24px;
    position: absolute;
    margin-left: 4px;
    margin-top: 4px;

    & > div {
      width: 100%;
      height: 100%;
      border-radius: 15px;
      background: $spinner-color;
    }
  }

  @for $i from 1 through 8 {
    & > div:nth-of-type(#{$i}) {
      transform: translate(84px, 84px) rotate(#{45 * $i}deg) translate(70px, 0);
      & > div {
        animation: spinner 1s linear infinite;
        animation-delay: #{0.12 * ($i - 1)}s;
      }
    }
  }

}

@keyframes spinner {
  0% { opacity: 1; transform: scale(1.5); }
  100% { opacity: 0.1; transform: scale(1); }
}
