<section id="demo-footer">
  <p>This is demo version of TWG4 photo gallery application.</p>
  <p>Please visit project's <a href="https://github.com/TeWu/TWG4" target="_blank" rel="noopener noreferrer">GitHub page</a> for more information.</p>
</section>