<section id="notifications" class="sticky">
  <% if flash.notice %>
    <span id="notice"><%= glyphicon 'ok' %><%= flash.notice %><span class="close-notification">&times;</span></span>
  <% end %>
  <% if flash.alert %>
    <span id="alert"><%= glyphicon 'alert' %><%= flash.alert %><span class="close-notification">&times;</span></span>
  <% end %>
</section>