<section id="notifications" class="sticky">
  <%= render 'application/notifications/notice', content: flash.notice if flash.notice %>
  <%= render 'application/notifications/alert', content: flash.alert if flash.alert %>
</section>