<section id="notifications">
  <% if flash.notice %>
    <span id="notice"><%= flash.notice %></span>
  <% end %>
  <% if flash.alert %>
    <span id="alert"><%= flash.alert %></span>
  <% end %>
</section>